@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
	RegisterLink(new LinkEntry {Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("/Themes/NorthernSafety/Content/Images/favicon.ico")});
	//todo: (heskew) get conditions (as in conditional comments) hooked up for script tags too
	Script.Include("html5.js").AtLocation(ResourceLocation.Head);

	//a bit opinionated - only the site name on the homepage
	var title = (Request.Path.TrimEnd('/') != Request.ApplicationPath && HasText(Model.Title)
					? Model.Title + WorkContext.CurrentSite.PageTitleSeparator
					: "") +
		WorkContext.CurrentSite.SiteName;
	bool lb = false;
	if (Request.Path.ToLower().Contains("lightbox"))
	{
		lb = true;
	}
	if (Request.IsSecureConnection)
	{
		string host = Request.Url.Host;
		if (host.ToLower().EndsWith("com"))
		{
			Response.Redirect("http://www.northernsafety.com" + Request.Url.PathAndQuery);
			Response.Flush();
		}
		else if (host.ToLower().EndsWith("qas"))
		{
			Response.Redirect("http://www.northernsafety.qas" + Request.Url.PathAndQuery);
			Response.Flush();
		}
		else if (host.ToLower().EndsWith("dev"))
		{
			Response.Redirect("http://www.northernsafety.dev" + Request.Url.PathAndQuery);
			Response.Flush();
		}
	}

	string tld = HttpContext.Current.Request.Url.DnsSafeHost.Substring(HttpContext.Current.Request.Url.DnsSafeHost.LastIndexOf('.') + 1);
	string CookieDomain = "northernsafety." + tld;
}
@if (!lb)
{
<!DOCTYPE html> 
<html lang="en" class="static @Html.ClassForPage()"> 
<head> 
	<meta charset="utf-8" /> 
	<title>@title</title> 
	@*<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.outside-events.js"></script>	
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.validate.min.js"></script>	
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.tooltip.min.js"></script>        
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.timers.js"></script>  
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery-ui-mask.js"></script> 
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.example.min.js"></script> 
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/NS.min.js"></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/Common/rate.js"></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.cookie.js" ></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/jquery.adobe.autocomplete.min.js"></script>
	<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/printable.js"></script>*@
	
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.outside-events.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.validate.additional-methods.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tooltip.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.timers-1.2.js" ></script>
    <script type="text/javascript" src="/Scripts/jquery-ui-mask.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.example.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/NS.min.js"></script>
	<script type="text/javascript" src="/Scripts/Common/rate.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.expander.min.js"></script>
	<script type="text/javascript" src="/Scripts/objects.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.adobe.autocomplete.min.js"></script> 
	<script type="text/javascript" src="http://e.invodo.com/4.0/s/northernsafety.com.js"></script>
	<script type="text/javascript" src="http://e.invodo.com/4.0/s/invodo.js"></script>
	
	<!-- Begin Google Analytics Code -->
	@if (Request.IsSecureConnection)
	{
	<script src="https://ssl.google-analytics.com/urchin.js" type="text/javascript"></script>
	}
	else
	{
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	}
	<script type="text/javascript">
		_uacct = "UA-1651707-1";
		if (urchinTracker != 'undefined')
			urchinTracker();
	</script>
	
	<meta name="google-site-verification" content="huEPzPMSchBxouYd_HDo0ZDM3HnZLqWCHT7d-qg2yt0" />
	<meta name="msvalidate.01" content="E51A4A7383C93659046124AF2679EDCB" />
	<!-- End Google Analytics Code -->

	<script type="text/javascript">
		$(function () {
			$.ajaxSetup({
				// Disable caching of AJAX responses
				cache: false
			});
			$(':text').example(function () {
				return $(this).attr('placeholder');
			});
			$('#addToShoppingCartBtn').button();
			$('#LBox').dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				width: 500,
				draggable: false,
				position: 'top',
				close: function () { $('#LBoxContents').html('<p>... Loading ...</p>'); }
			});
			$('#BuyNow').dialog({
				autoOpen: false,
				modal: true,
				resizable: false,
				width: 430,
				draggable: false,
				position: 'center',
				title: 'Buy Now',
				close: function () { $('#BuyNowContents').html('<p>... Loading ...</p>'); }
			});
			$('.popme').click(function (event) {
				event.preventDefault();
				var url = $(this).attr('href');
				var ttl = $(this).attr('title');
				var width = $(this).attr('w');
				$('#LBoxContents').load(url);
				$('#LBox').dialog({ title: ttl, width: width }).dialog('open');
			});
			$('.buyNow').button().click(function (event) {
				event.preventDefault();
				var url = $(this).attr('bn');
				$('#BuyNowContents').load(url);
				$('#BuyNow').dialog('open');
			});
			$('.ui-widget-overlay').live('click', function () {
				$('.dialogClass').dialog('close');
			});
			$('input:radio').addClass('radio');
			$('input:checkbox').addClass('checkbox');
			$('#CheckoutBtn').button();
			$('.btn').button();
			$('.button').button();
			$('.lightBrownMenu li a').each(function () {
				if ($(this).attr('href') == '@Request.Path') {
					$(this).parent().addClass('selected');
				}
			});
			$('#searchBtn').click(function () {
				if ($('#searchFldTop').val() == '' || $('#searchFldTop').val() == 'Enter keyword or item \#') {
				} else {
					$('#searchFldTop').val($('#searchFldTop').val().replace('/', ' '));
					$('#TopSearchForm').submit();
					return false;
				}
			});

			$('#searchFldTop').keypress(function (e) {
				if (e.which == 13) {
					$('#searchBtn').click();
					return false;
					e.preventDefault();
				}
			});

			var ax = {
				account: "sp10049f05",
				searchDomain: "http://northernsafety.guided.ss-omtrdc.net/",
				inputElement: "#searchFldTop",
				inputFormElement: "#TopSearchForm",
				delay: 100,
				minLength: 3,
				maxResults: 10,
				browserAutocomplete: false,
				submitOnSelect: true,
				queryCaseSensitive: false,
				autoFocus: false,
				appendTo: "#autocomplete",
				startsWith: false,
				highlightWords: true,
				highlightWordsBegin: false,
				header: "",
				footer: "",
				width: 375
			}
			$(ax.inputElement).AdobeAutocomplete(ax);


			var ref = $('#ref').val();
			$.cookie('refCookie', ref, { path: '/', domain: '@CookieDomain', expires: 1 });
		});
	</script>

	@if (Request.Path == "/"){
		@*<link href="/Themes/NorthernSafety/Styles/pages/home.css" rel="stylesheet" type="text/css" />*@
		<script type="text/javascript" src="/Themes/NorthernSafety/Scripts/homeAdNew.js"></script>
		<style type="text/css">
			div#content { width: 710px; padding: 0 8px 0 7px; }
		</style>
	}

	@{
	//todo: (heskew) have resource modules that can be leaned on (like a jQuery module that knows about various CDNs and jQuery's version and min naming schemes)
	//todo: (heskew) this is an interim solution to inlude jQuery in every page and still allow that to be overriden in some theme by it containing a headScripts partial
	 }
	 @*Model.Zones.AddRenderPartial("head:before", "HeadPreload", Model);*@
	 @*Html.Zone("head", ":metas :styles :scripts"); %>*@
	 @Display(Model.Head)
	<script>        (function (d) { d.className = "dyn " + d.className.substring(7, d.length); })(document.documentElement);</script> 
</head> 
<body> 
	@Display(Model.Body)
	@Display(Model.Tail)
	<input type="hidden" id="query" value="@HttpContext.Current.Request.Url.Query" />
	<input type="hidden" id="currentUrl" value="@HttpContext.Current.Request.Url.AbsolutePath.ToLower()" />
	<script type="text/javascript">
		$(function () {
			var query = $('#query').val();
			$('#SCLinksContainer').load('/Cart/TopCartDisplay' + query);
			$('#CustomerSiteHeader').load('/CustomerSiteHeader' + query);
			$('#liveChat').load('/lcheader' + query);
		});
	</script>
</body>
</html>
}
else
{ 
	@Display(Model.Body)
}
